:root {
    font-family: Roboto, Helvetica, sans-serif;
}

input:read-only {
    border: none;
}

#checkoutMain {
  margin-top: 125px;
}

table {
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    border-radius: 4px;
    align-self: center;
}

th {
    font-size: 15pt;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: 0;
}

td {
    font-weight: lighter;
    color: #444444;
    padding: 10px 10px;
    margin: 0;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}

.container {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    border-radius: 4px;
}

.widget {
    display: inline-block;
    border: 1px solid #f1f1f1;
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    border-radius: 4px;
}

.open-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    float: right;
    margin: 20px;
    font-size: large;
    background-color: #ab0520;
    color: #f2f2f2;
    border-radius: 4px;
  }
  
  .open-button:hover {
    background-color: #ef4056;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    justify-content: center; 
    align-items: center; 
  }

  /* Add styles to the form container */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    padding: 15px;
    margin: 0px 0 0px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } 

#suggestions {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    max-height: 150px; /* Limit height of the suggestions */
    overflow-y: auto; /* Enable vertical scroll if needed */
    margin: 0;
    position: absolute; /* Positioning the suggestions absolutely */
    top: 100%; /* Align below the input */
    left: 0; 
    right: 0;
    z-index: 500; /* Ensure it appears above other content */
    background-color: white;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

#searchName {
    display: flexbox;
    flex-direction: column;
    padding: none;
    position: relative;
}

#payment-selection {
  margin: 30px;
  display: flexbox;
  flex-direction: row;
}

input[type="radio"] {
  margin-right: 20px;
}

.checkout-section {
  margin: 20px;
}
