:root {
    font-family: Roboto, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.login-form {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}
h1, h3 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="submit"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ab0520;
    border-radius: 5px;
}
input[type="submit"], button {
    background-color: #ab0520;
    color: white;
}

input[type="submit"]:hover, button:hover {
    background-color: #6b1010;
}

#passwordForm {
    display: none;
}

button {
    margin: 5px;
}

#form-buttons {
  display: inline-block;
  position: relative;
  left: 140px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  justify-content: center; 
  align-items: center; 
}

/* Add styles to the form container */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 90%; 
  max-width: 400px;
  text-align: center; 
  align-items: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 4px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
